{% extends "/adm/layout.html" %}
{% block title %}Configurações{% endblock %}

{% block body %}

<script src="{{url_for('static', filename='js/adm/actions/config.js')}}"></script>



<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0 mb-3">
                    <div class="row">
                        <div class="col-2">
                            <h6 class="mt-1">Configurações <h6>
                        </div>
                      
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                   
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}